.container_footer{
    position: fixed;
    bottom:0;
    left:0;
    padding-block: 8px;
   
    display: flex;
    --gap:20px;
    gap:var(--gap);
    background-color: #FF72B5;
    z-index:500;
  }


  *{
    margin:0;
    padding:0;
  }

  
  .container_footer ul{
    
    list-style:none;
    display:flex;
    justify-content: space-between;
    gap:var(--gap);
    align-items:center;
    
    
    min-width:100%;
    overflow:hidden;
    user-select:none ;
    animation: scroll 20s linear infinite;
    color:#052F1A;
    font-weight:900;
    
  
  }
  .container_footer li{
    display: flex;
   
    width:10%;
  }
  
  @keyframes scroll{
    to{
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  .bowl_images{
    display:flex;
  }
  .container_footer img{
    width:20px;
    height:20px;
    margin:auto;
  }

  .parent{
    width:300px;
    border:5px solid red;
    overflow-x: hidden; 
    float:left;
  }
  .child{
    width:1000px;
    float:left;
    font-size:15px;
    font-family:arial;
    padding:10px;
    cursor: pointer;
  }
  

  .spectral-extralight {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .spectral-light {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
  }


  
  